# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/
.project
.pydevproject
.settings/

# Bot data and History
"all excels/"
"all resumes/"
"logs/"
"output/"
"generated/"
"bot_profile/"
counts.json

# Environment and Virtual Envs
venv/
.venv/
env/
ENV/
.env

# Credentials and Personal Configs
"secrets.py"
"config/personals.py"
"config/candidates/*.yaml"
apikeys.py
*.pdf
*.csv
*.xlsx

# Other
old/
temp/
tmp/
*.log